package views

import "github.com/pocketbase/pocketbase/core"

templ CollectionSinglePage(collections []*core.Record) {
	@Layout("The Collections", "collections", LayoutOptions{
		Description: "Cells within cells, interlinked",
	}) {
	}
}
